button {
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    bottom: 20px;
    left: 20px;
    background-color: white;

  }
  p {
    font-family: Arial, sans-serif;
    
    font-weight: normal;
  }
 

  .title-buttons {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
  }
  .contact-buttons {
    position:fixed;
    bottom: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
  
  }
 


  h1 {
    font-size: 70px;
    margin-bottom: 10px;
    position: fixed;
    top: 5px;
    left: 20px;
    z-index: 1;
    background-color: white;
  
  }


  .description-right {
 
    font-size: 8pt;
    position: fixed;
    top: 150 px;
    left: 20px;
    z-index: 1;
    background-color: white;
  
   }


  h2 {

    font-size: 20px;
    margin-top: 30px;
  }

  textarea {
    font-family: Arial, sans-serif;
    width: 300px;
    height: 17px;
    margin-bottom: 10px;
    resize: none;
    
  }
  .container {
    margin-top: 150px;
        flex-basis: 50%;
        box-sizing: border-box;
        margin-bottom: 40px;
    
  }

  .right-content {
    
  padding: 20px;
  position: fixed;
  top: 0;
  margin-top: 120px;
  right: 0;
  height: 90vh; /* Füllt die volle Höhe des Viewports aus */
  background-color: white;
  width: 200px;
  overflow-y: auto;
  }
  .button-container2 {
    position: absolute;
    top: 300px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
  }
 
  .button-container2 button {
    margin-right: 10px;
  }

  .button-container {
  bottom: 0;
    position: fixed;
 
  left: 50%;
 margin-bottom: 20px;
 overflow-y: auto;
 
  }


 

 
 .line-through {
     text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: black;
  -webkit-text-decoration-color: black;
  text-decoration-thickness: 5pt;
  -webkit-text-decoration-thickness: black;
  }


  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: 8pt;
  }

  
