.unter-ueberschrift {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 30px;
  color: black;
    
  
  margin-top: 100px;
  left: 20px;
  z-index: 1;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}



h1 {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 78px;
  color: black;
    
  position: fixed;
  top: -60px;
  left: 20px;
  z-index: 1;

  }

  body {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 25pt;
  }

  .how-to  {
    margin-top: 150px;
        flex-basis: 50%;
        box-sizing: border-box;
      
  }

  

  h2 {
   

    text-transform: uppercase;
  }
  
  h3 {
    text-transform: uppercase;
  }
  
  
  footer {
    font-family: Arial Narrow,Arial,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
   
    padding: 10px;
    font-size: 8pt;
  }


  .contact-buttons {
    
    position:fixed;
    bottom: 20px;
    right: 0;
   
  }

 

  .contact-buttons button {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    font-family: Arial Narrow,Arial,sans-serif; 
    border-width: 0.5px;
    cursor: pointer;
  }

  .contact {

    text-align: center;
    font-size: 40pt;
    }