h1 {
    font-size: 70px;
    margin-bottom: 10px;
    position: fixed;
    top: 5px;
    left: 20px;
    z-index: 1;
    background-color: white;
    padding: 10px;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .how-to  {
    margin-top: 150px;
        flex-basis: 50%;
        box-sizing: border-box;
      
  }

  
  
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: 8pt;
  }